<h2>Sign Up as a Customer</h2>

<%= simple_form_for(resource, as: :customer, url: registration_path(:customer), html: { method: :post, data: { turbo: false } }) do |f| %>
  <%= f.input :name, label: "Full Name" %>
  <%= f.input :phone, label: "Phone Number" %>
  <%= f.input :email, label: "Email Address" %>
  <%= f.input :password, label: "Password" %>
  <%= f.input :password_confirmation, label: "Confirm Password" %>
  <%= f.input :avatar, as: :file, label: "Profile Picture (Optional)" %>

  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>