<h1>Edit Store Profile</h1>

<%= simple_form_for @store, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Store Name", required: true %>
    <%= f.input :email, label: "Store Email", required: true %>
    <%= f.input :phone, label: "Store Phone", required: true %>
    <%= f.input :address, label: "Store Address", required: true %>
    <%= f.input :zip_code, label: "Store ZIP Code", required: true %>
    <%= f.input :description, label: "Store Description", as: :text, required: true %>
    <%= f.input :logo, as: :file, label: "Store Logo" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Store", class: "btn btn-primary" %>
  </div>
<% end %>

  <%= link_to "Back", stores_store_dashboard_path(@store), class: "btn btn-secondary" %>