<%= simple_form_for @store, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Store Name", required: true %>
    <%= f.input :email, label: "Store Email", required: true %>
    <%= f.input :phone, label: "Store Phone", required: true %>
    <%= f.input :address, label: "Store Address", required: true %>
    <%= f.input :zip_code, label: "Store ZIP Code", required: true %>
    <%= f.input :description, label: "Store Description", as: :text, required: true %>
    <%= f.input :logo, as: :file, label: "Store Logo (required)", required: true %>
  </div>

  <div class="form-inputs">
    <%= label_tag :store_manager_password, "Store Manager Password" %>
    <%= password_field_tag :store_manager_password, nil, required: true, class: "form-control" %>

    <%= label_tag :store_manager_password_confirmation, "Password Confirmation" %>
    <%= password_field_tag :store_manager_password_confirmation, nil, required: true, class: "form-control" %>
  
    <%= label_tag :store_manager_recipient_email, "E-mail for sending Store Manager credentials" %>
    <%= email_field_tag :store_manager_recipient_email, nil, required: true, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Store" %>
  </div>
<% end %>