<%= form_with model: @review, url: customers_reviews_path, local: true do |form| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prevented your review from being saved:</h2>
            <ul>
                <% @review.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :title, "Title" %>
        <%= form.text_field :title, placeholder: "Enter the title of your review" %>
    </div>

    <div class="field">
        <%= form.label :comment, "Comment" %>
        <%= form.text_area :comment, placeholder: "Write your comment here" %>
    </div>

    <div class="field">
        <%= form.label :rating, "Rating (1 to 5)" %>
        <%= form.number_field :rating, in: 1..5, step: 1 %>
    </div>

    <!-- You can add other fields, such as author, if necessary -->
    <div class="actions">
        <%= form.submit "Submit Review" %>
    </div>
<% end %>