<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.food.png", class: "logo-nav ms-3", alt: "Food4Less Logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to 'About Us', about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </li>

        <% if customer_signed_in? %>
          <li class="nav-item dropdown">
            <% user_photo_url = current_customer.photo.attached? ? url_for(current_customer.photo) : asset_path("default-avatar.png") %>
            <a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="avatar" src="<%= user_photo_url %>" alt="Customer Avatar" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="customerDropdown">
              <li><%= link_to "Profile", customer_dashboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Edit your account", edit_customer_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_customer_session_path, 
                method: :delete, 
                data: { turbo_method: :delete, logout_path: destroy_customer_session_path }, 
                class: "dropdown-item text-danger logout-link" %></li>
            </ul>
          </li>

        <% elsif business_admin_signed_in? %>
          <li class="nav-item dropdown">
            <%# Para Business Admin, se n達o houver logo, n達o exibe imagem nenhuma %>
            <% if current_business_admin.logo&.attached? %>
              <% logo_url = url_for(current_business_admin.logo) %>
            <% end %>
            <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if defined?(logo_url) && logo_url.present? %>
                <img class="avatar" src="<%= logo_url %>" alt="Business Admin Logo" />
              <% else %>
                <span>Business</span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="businessDropdown">
              <li><%= link_to "Business Profile", business_dashboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Edit Account", edit_business_admin_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_business_admin_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" %></li>
            </ul>
          </li>

     
        <% elsif store_manager_signed_in? %>
          <li class="nav-item dropdown">
            <%# Para Store Manager, se n達o houver foto, n達o exibe imagem nenhuma %>
            <% if current_store_manager.respond_to?(:photo) && current_store_manager.photo.attached? %>
              <% photo_url = url_for(current_store_manager.photo) %>
            <% end %>
            <a class="nav-link dropdown-toggle" href="#" id="storeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if defined?(photo_url) && photo_url.present? %>
                <img class="avatar" src="<%= photo_url %>" alt="Store Manager Photo" />
              <% else %>
                <span>Store</span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="storeDropdown">
              <li><%= link_to "Store Profile", stores_dashboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_store_manager_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
              <li><%= link_to "Login as Customer", new_customer_session_path, class: "dropdown-item" %></li>
              <li><%= link_to "Login as Business", new_business_admin_session_path, class: "dropdown-item" %></li>
              <li><%= link_to "Login as Store", new_store_manager_session_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="signupDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sign-up
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="signupDropdown">
              <li><%= link_to "Sign-up as Customer", new_customer_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign-up as Business", new_business_admin_registration_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>