<div class="sidebar" data-sidebar-target="sidebar">
  <!-- Floating mini button to expand/collapse -->
  <div class="sidebar-toggle-top" data-action="click->sidebar#toggleSidebar">
    <button type="button">
      <i data-sidebar-target="toggleIcon" class="fas fa-angle-right"></i>
    </button>
  </div>

  <!-- Search -->
  <div class="sidebar-search-wrapper">
    <div class="input-group">
      <span class="input-group-text" data-action="click->sidebar#toggleSearch">
        <i class="fas fa-search"></i>
      </span>
      <input type="text" class="form-control sidebar-search-input" placeholder="Search...">
    </div>
  </div>

  <!-- Main menu -->
  <ul class="sidebar-menu mt-4">
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: root_path }, title: "Home" do %>
        <i class="fas fa-home"></i>
        <span class="sidebar-label">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: customers_dashboard_path }, title: "Dashboard" do %>
        <i class="fas fa-tachometer-alt"></i>
        <span class="sidebar-label">Dashboard</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: customers_orders_path }, title: "My Orders" do %>
        <i class="fas fa-shopping-cart"></i>
        <span class="sidebar-label">Orders</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: customers_cart_path }, title: "Cart" do %>
        <i class="fas fa-shopping-bag"></i>
        <span class="sidebar-label">Cart</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: customers_reviews_path }, title: "Reviews" do %>
        <i class="fas fa-star"></i>
        <span class="sidebar-label">Reviews</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: edit_customer_registration_path }, title: "Settings" do %>
        <i class="fas fa-cog"></i>
        <span class="sidebar-label">Settings</span>
      <% end %>
    </li>
  </ul>

  <!-- Footer -->
  <div class="sidebar-footer d-flex flex-column align-items-center mt-auto">
    <% if current_customer.photo.present? %>
      <%= image_tag current_customer.photo, class: "sidebar-user-photo" %>
    <% end %>
    <div class="sidebar-footer-info">
      <% if current_customer.name.present? %>
        <span class="sidebar-username"><%= current_customer.name %></span>
      <% end %>
      <%= link_to destroy_customer_session_path, method: :delete, class: "logout-link ms-2", data: { bs_toggle: "tooltip" }, title: "Logout" do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>
  </div>
</div>