<div class="sidebar" data-sidebar-target="sidebar">
  <!-- Floating mini button -->
  <div class="sidebar-toggle-top" data-action="click->sidebar#toggleSidebar">
    <button type="button">
      <i data-sidebar-target="toggleIcon" class="fas fa-angle-right"></i>
    </button>
  </div>

  <!-- Search -->
  <div class="sidebar-search-wrapper">
    <div class="input-group">
      <span class="input-group-text" data-action="click->sidebar#toggleSearch">
        <i class="fas fa-search"></i>
      </span>
      <input type="text" class="form-control sidebar-search-input" placeholder="Search...">
    </div>
  </div>

  <!-- Menu -->
  <ul class="sidebar-menu mt-4">
    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: root_path }, title: "Home" do %>
        <i class="fas fa-home"></i>
        <span class="sidebar-label">Home</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: business_admins_business_dashboard_path }, title: "Admin Dashboard" do %>
        <i class="fas fa-user-shield"></i>
        <span class="sidebar-label">Dashboard</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: business_admins_stores_path }, title: "Manage Stores" do %>
        <i class="fas fa-store"></i>
        <span class="sidebar-label">Stores</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: business_admins_receipts_path }, title: "Receipts" do %>
        <i class="fas fa-file-invoice"></i>
        <span class="sidebar-label">Receipts</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: public_customers_path }, title: "Search Customers" do %>
        <i class="fas fa-search"></i>
        <span class="sidebar-label">Customers</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#", class: "sidebar-link", data: { action: "click->sidebar#handleLinkClick", bs_toggle: "tooltip", url: edit_business_admin_registration_path }, title: "Settings" do %>
        <i class="fas fa-cog"></i>
        <span class="sidebar-label">Settings</span>
      <% end %>
    </li>
  </ul>

  <!-- Footer -->
  <div class="sidebar-footer d-flex flex-column align-items-center mt-auto">
    <% if current_business_admin&.logo&.attached? %>
      <%= image_tag current_business_admin.logo, class: "sidebar-user-photo" %>
    <% else %>
      <%= image_tag "placeholder.jpeg", class: "sidebar-user-photo" %>
    <% end %>

    <div class="sidebar-footer-info">
      <span class="sidebar-username"><%= current_business_admin&.name || "Admin" %></span>
      <%= link_to destroy_business_admin_session_path, method: :delete, class: "logout-link ms-2", data: { bs_toggle: "tooltip" }, title: "Logout" do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>
  </div>
</div>